.App{
    height: 100vh;
    padding:0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.books{
    display: flex;
    gap: 20px;
}
.book{
    flex: 1;
    display: flex;
    gap:10px;
    align-items: center;
    flex-direction: column;
}
img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(182, 219, 207);
}
.delete{
   
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    color: rgb(231, 20, 20);
}
.update{
   
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    color: rgb(29, 29, 90);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}
.formbtn{
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgb(175, 100, 72);
    padding: 10px;
}
.addnewbook{
    text-decoration: none;
    padding: 3px 10px;
    border: 1px solid gray;
    color: gray;
    font-weight: bold;
}